.column {
  width: 200px;
  display: flex;
}
.flex-item2 {
  margin: 12px;
  width: 300px;
  height: 180px;
  border:10px solid blue;
  padding: 13px;
  background-color: white;
}

.flex-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-column {
  margin: 5px
  float: center
}

body {
  font-family: Helvetica;
  font-size: 16 px;
}

.important {
  color: teal;
}
.unimportant {
  color: blue
}

.flex-container {
  flex-direction: row;
  display: flex;
}
.flex-container  img {
margin: 0px;
}

.flex-column img {
  margin: 5px
  float: center
}
.header2 {
  font-family: Helvetica;
  font-size: 40px
  font-style:oblique;
}
  .header3 {
    font-family: Helvetica;
    font-style: italic;
    font-size: 70px;
}
header4 {
  font-family: courier;
  font-style: italic;
  font-size: 20px;
}

.paragraph {
  font-family: Helvetica;
  font-style: bold;
  font-size: 14px
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: black
}
.blockquote {
  border-left-color: #pink;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}

.grid-container {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap:50px
  padding: 100px;
}
.grid-item {
  background-color: cream;
  border: 10px solid black(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 15px;
  text-align: center;


.row {
  display: flex;
}

.column {
  width: flex;
  padding: 10px;
  height: 300px;
}
